body {
  font-family: "Palatino";
}

h1 {
  color: #FB1919;
  width: 500px;
  margin: 30px auto 30px auto;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

.about {
  margin: 100px 0 50px 0;
}

.navBar li {
  display: inline-block;
  padding: 0 50px;
  font-size: 16px;
}

.navBar a {
  text-decoration: none;
  color: #463F3F;
}

.navBar {
  text-align: center;
}

.home:hover,
.members:hover,
.events:hover,
.learn_more:hover,
.contact:hover {
  opacity: 0.6;
  cursor: pointer;
}

.overview {
  width: 780px;
  opacity: 0.5;
  margin: 0 auto 50px auto;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
.pres_text {
  width: 300px;
  margin: 50px auto 100px auto;
  line-height: 40px;
}

hr {
  width: 1250px;
  opacity: 0.5;
  border-width: 0.7px;
}

#loginForm{
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.row{
  display:flex;
  flex-direction: row;
}

.ourevent{
  width: 100%;
}

.addevent{
  width:100%;
}

.border-right{
  border-right: 0.7px darkgrey solid;
}

#event-form input{
  margin-left: 15px;
}

#event-form textarea{
  margin-left: 15px;
}

#event-form ul{
  list-style-type: none;
}

#event-form li{
  padding:10px;
}

label{
  width:150px;
  display: inline-block;
  text-align: right;
}

#add-button{
  display: block;
  margin:20px auto;
  font-size: 15px;
  border: none;
  background-color: #FB1919;
  padding: 10px;
}

.first_row,
.second_row,
.third_row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 20px;
}

.about_image {
  height: 300px;
  width: 300px;
}

#eventstable {
    margin-left: 500px;
       border-collapse: collapse;
  }
th,td {
  border: 2px solid red;

}
.eboardinfo {
  text-align: center;
}
