body {
  font-family: "Palatino";
  margin: 0;
}

/* CSS Styling of footer */

footer {
  background-color: #1b1c1d;
  height: 325px;
  text-align: center;
}

footer p {
  color: #4d4d4d;
  letter-spacing: 0.04em;
  font-size: 14px;
  display: inline-block;
  vertical-align:middle;
}

.fa {
  padding:10px;
  width: 20px;
  text-decoration: none;
  margin: 0px 3px;
  border-radius: 60%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.social_media {
  padding-bottom: 0;
  padding-top: 125px;
}

.orgsync {
  /* margin-left: 50px; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #F33131;
  text-decoration: none;
  font-size: 16px;
}

.orgsync:hover {
  opacity: 0.7;
}

/* CSS Styling for about.php */

h1 {
  color: #FB1919;
  width: 480px;
  margin: 30px auto 30px auto;
  text-align: center;
}

.title span {
  font-size: 24px;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

.background_text {
  color: #ffffff;
  font-family: cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px black;
}

.background {
  background-image: url("/uploads/images/about_cover2.jpg");
  background-position: center;
  height: 550px;
  opacity: 0.9;
  background-size: cover;
}
/* -- source: original content, Armenian Students Organization at Cornell-- */

.bigimg {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  border-radius: 3%;
}
.caption {
  text-align: center;
  font-size: 23px;
  color: red;
  font-style: italic;
}
.navBar li {
  display: inline-block;
  padding: 0 50px;
  font-size: 20px;
}

.navBar a {
  text-decoration: none;
  color: #463F3F;
}

.navBar {
  text-align: center;
}
.eventhead {
	  font-size: 20px;
	  margin: auto;
	}

.home:hover,
.members:hover,
.events:hover,
.learn_more:hover,
.contact:hover,
.eboard:hover {
  opacity: 0.6;
  cursor: pointer;
}

.overview {
  width: 780px;
  opacity: 0.8;
  margin: 0 auto 50px auto;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
.message {
  width: 800px;
  color: black;
  opacity: 0.8;
  margin-left: 23%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;

}
.pres_text {
  width: 300px;
  margin-left: 40%;
  line-height: 40px;
}

.pres {
  font-weight: bold;
}

.pres_message {
  font-weight: lighter;
}

hr {
  width: 1250px;
  opacity: 0.5;
  border-width: 0.7px;
}

#loginForm{
  margin: 100px auto 100px auto;
  text-align: center;
  display: block;
}
#filter_form {
  margin-top: 10px;
  text-align: center;
}

.row{
  display:flex;
  flex-direction: row;
}
.post {
  width: 33.3%;
  margin-left: 20px;
}
.post a {
  text-decoration: none;
  color: red;
}
.post a:hover {
  color: maroon;
}
.post li {
  list-style: none;
  text-align: center;
  width: 85%;
}
.posth3 {
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  text-align: center;
  width: 95%;
}
/* CSS Styling for events.php */
.events{
text-align: center;
}

.events h3{
  color: #FB1919;
}

.ourevent,
.addevent
{
  width: 100%;
}

.border-right{
  border-right: 0.7px darkgrey solid;
}

.eventhead {
  font-size: 20px;
  margin: auto;
}
#event-form input,
#event-form textarea
{
  margin-left: 15px;
}

#event-form ul{
  list-style-type: none;
}

#event-form li{
  padding:10px;
}

label{
  width:160px;
  display: inline-block;
  text-align: right;
}

#add-button{
  display: block;
  margin:20px auto;
  font-size: 15px;
  border: none;
  background-color: #FB1919;
  padding: 10px;
}

.first_row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.about_image {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}

.membersTitle {
  font-size: 20px;
}

h3 {
  margin: 50px 0 30px 40px;
}

.mem_categories {
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
}

/* CSS Styling of members.php */

.members_background {
  background-image: url("/uploads/images/members_background.jpg");

  background-position: center;
  height: 550px;
  opacity: 0.8;
}
  /* -- source: original content, Armenian Students Organization at Cornell-- */

.members_image {
  height: 250px;
  width: 250px;
  margin-left: 50px;
}
figcaption {
  margin-left: 60px;
}
.member_bios {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.eboardtable {
    margin-left: 520px;
    border-collapse: collapse;
  }
th,td {
  border: 2px solid red;

}
.eventstable {
    margin-left: 330px;
    border-collapse: collapse;
  }
.eboardinfo {
  text-align: center;
  font-weight: bold;
}
#uploadImage {
  text-align: center;

}
#uploadImage li {
    list-style: none;
}
#uploadBlog {
    text-align: center;
}
#uploadBlog li {
  list-style: none;
  margin-left: -80px;
}
#addblog {
  margin-left: 90px;
}
#addMember ul{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

#addMember li{
  list-style: none;
}

h4.mem_major{
  margin-right: 80px;
  width: 300px;
}

h4.mem_bio{
  margin-right: 30px;
  display: block;
  width: 250px;
}

/* CSS Styling of contact.php */

.contact_title {
  text-align: center;
  margin-bottom: 50px;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  font-weight:300;
}

h5 {
  margin: 15px;
  font-weight: 100;
}

.president,
.vp_internal,
.vp_external,
.treasurer,
.secretary {
  text-align: center;
  display: inline-block;
}

.positions {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}
