body {
  font-family: "Palatino";
}

/* CSS Styling for about.php */

h1 {
  color: #FB1919;
  width: 500px;
  margin: 30px auto 30px auto;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

.about {
  /* margin: 100px 0 50px 0; */
  color: #ffffff;
  font-family: cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  text-align: center;
}

.background {
  background-image: url("/uploads/images/about_cover.jpg");
  background-position: center;
  height: 550px;
  opacity: 0.8;
}

.navBar li {
  display: inline-block;
  padding: 0 50px;
  font-size: 16px;
}

.navBar a {
  text-decoration: none;
  color: #463F3F;
}

.navBar {
  text-align: center;
}

.home:hover,
.members:hover,
.events:hover,
.learn_more:hover,
.contact:hover {
  opacity: 0.6;
  cursor: pointer;
}

.overview {
  width: 780px;
  opacity: 0.5;
  margin: 0 auto 50px auto;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
.pres_text {
  width: 300px;
  margin: 50px auto 100px auto;
  line-height: 40px;
}

hr {
  width: 1250px;
  opacity: 0.5;
  border-width: 0.7px;
}

#loginForm{
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.first_row,
.second_row,
.third_row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 20px;
}

.about_image {
  height: 300px;
  width: 300px;
}

.membersTitle {
  font-size: 20px;
}

h3 {
  margin: 50px 0 30px 40px;
}

.mem_categories {
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
}

/* CSS Styling of members.php */

.membersText {
  color: #ffffff;
  font-family: cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  text-align: center;
}

.members_background {
  background-image: url("/uploads/images/members_background.jpg");
  background-position: center;
  height: 550px;
  opacity: 0.8;
}

.members_image {
  height: 250px;
}

.member_bios {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
